body {
    background-color: rgb(0, 77, 0);
    z-index: 1;
}

h1 {
    color: rgb(151, 224, 151);
    text-align: center;
    z-index: 2;
}

h2 {
    color: rgb(151, 224, 151);
    text-align: center;
    z-index: 2;
}

.bushes img{
    float: right;
    width: 1885px;
    height: 500px;
    z-index: 3;

}

a:link {
    color: rgb(92, 143, 87);
    display: block;
    position: absolute;
    padding-bottom: 200px;
    left: 200px;
    bottom: 850px;
    z-index: 4;
}

a:visited {
    color: rgb(92, 143, 87);
    display: block;
    position: absolute;
    padding-bottom: 200px;
    bottom: 750px;
    left: 200px;
    z-index: 4;
}
